body {
    font-family: Arial, sans-serif;
    background-color: rgb(173, 255, 255);
}

header > img {
    width: 100px;
}

h2 {
    font-size: 32px;
}


h1 {
    font-size: 38px;
}

ol {
    list-style: upper-roman inside;
}
.user-review h4 {
    font-size: 44px;
    font-weight: bold;
}
.ingredients-list {
    list-style: square inside;
}

input[type="radio"] {
    -webkit-appearance: none;
    width: 27px;
    height: 27px;
    background-image: url(./stars.png);
    vertical-align: bottom;
}

input[type="radio"]:hover {
    background-position: 30px 60px;

}
input[type="radio"]:checked {
    background-position: 30px 60px;
}
input[type="radio"], select, input[type="submit"] {
    cursor: pointer;
    outline: none;
}
input:last-child {
    background-color: gold;
}



ol li:nth-of-type(2n) {
    background-color: whitesmoke;
}

ul li a, figcaption a {
    text-decoration: none;
    color: inherit;
}

h2 + .user-review {
    border-top: 5px solid black;
}
